<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href=" {% static 'downloader/home.css' %} ">
    
</head>
<body>
    <main role="main">

      
        <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading"> <i style="color:#fc2803;" class="fab logo fa-youtube"></i> YouTube Downloader</h1>
              <p class="lead">Get Yourself Live In Offline!</p>
              <a  href="{% url 'playlistt' %}" class="btn btn-light my-2"><i class="fas fa-long-arrow-alt-right"></i> Click Here to Download Playlist</a>
  
              <form method="POST">
                {% csrf_token %}
                  <div class="row">
                      <div class="input-group mb-3 col-md-10" style="margin:0 auto">
                          
                          <input type="text" name="searchField" placeholder="Search Your Video...." class="form-control" aria-label="Username" required>
                      </div>
                      
                  </div>
                  <p>
                  <button type="submit" name="submit" value="search" class="btn btn-hover color-2 my-2"><i class="fab fa-searchengin"></i>Search</button>
                  
                  
                  </p>
              </form>
              
            </div>
        </section>
      
        <div class="album py-5 bg-light">
          <div class="container">
            {% if flag %}
            <div class="d-flex justify-content-center" style="color:red">
              <h1>API LIMIT FINISH</h1>
            </div>
            {% else %}
            <div class="row">
              {% for video in videos %} 
             <div class="col-md-4">
               <div class="card mb-4 shadow-sm">
                 <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.thumbnail }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
                 <div class="card-body">
                    <p class="card-text">{{ video.title }}</p> 
                   <div class="d-flex justify-content-between align-items-center">
                     <div class="btn-group">
                       <a   target="_blank" type="button" href="{{video.url}}" class="btn btn-sm btn-outline-secondary">View</a>
                     </div>
                     <!-- <small class="text-muted">{{video.duration}} mins</small> -->
                     
                       <form method="POST" action="{% url "download" video.id %}">
                         {% csrf_token %}
                         <div class="d-flex">
                           <select class="browser-default custom-select" name="choice">
                            
                             {% for x,y in video.mylist %}
                               <option value="{{x}}" >{{y}}p</option>
                             {% endfor %} 
                           </select>
                         <button class="btn" style="color: red;" type="submit"> <i class="fas fa-download"> </i></button>

                         </div>
                        
                     </form>
                     
                    
                   </div>
                 </div>
               </div>
             </div>
              {% endfor %}
           </div>

            {% endif %}
          </div>
        </div>
      
      </main>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>